<h2>{{ title }}</h2>
<p>{{ description }}</p>
<img [src]="imageUrl" [alt]="title">
<p>Mise en ligne le {{ createdDate }}</p>

<h3>Données récuperer depuis le back-end : </h3>
<div *ngFor="let restaurant of restaurants">
    <p>{{ restaurant.name }}</p>
</div>
  

<!--<button routerLink="/event-invitation">Event</button>-->
<!--<button class="event-invitation" (click)="redirectToPage('event-invitation')">Event</button>-->
<!-- home.component.html -->

<button (click)="allerVersPageEvent()">Aller vers la page Event</button>

