

<div class="header">
    <h1>Ça mange où ?</h1>
    <div class="deconexion">
      <button (click)="redirectToLogin()">Se déconnecter</button>
    </div>

  </div>

  <div class="content">
    <img src="../../assets/13264014.png" alt="Plats" class="interactive-image">
    <h2>{{ title }}</h2>
    <p>{{ description }}</p>

    <div class="button-container">
        <button (click)="redirectToEventPage()">Événement</button>
        <button (click)="redirectToTirelirePage()">Tirelire</button>
        <button (click)="redirectToReservation()">Réserver</button>
        <button (click)="redirectToToutesLesCartes()">Cartes </button>
      </div>

  </div>

  <div class="footer">
    <p>&copy; 2024 CMO. Tous droits réservés.</p>
  </div>


