body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

iframe {
  width: 70vw;
  height: 70vh;
  border: none; /* Supprimer la bordure par défaut de l'iframe */
}

.retour {
  margin-top: auto;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bretour {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;

  &:hover {
    background-color: #2980b9;
  }
}


h1 {
  color: #3498db; /* Bleu */
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  transition: font-size 0.3s ease; /* Ajout de la transition pour la taille de police */
}



h1:hover {
  font-size: 32px; /* Taille de police agrandie au survol */
  color: #2ecc71; /* Changement de couleur au survol */
  content: ' !'; /* Ajouter un point d'exclamation à la fin */

}


