<body>
<h1>trouver votre futur lieu d'évènement  </h1>

<iframe frameborder="0" width="850" height="850" src="https://data.opendatasoft.com/map/embed/carte_cmo/?&static=false&scrollWheelZoom=false"></iframe>




<div class="retour">
  <h3>Redirection vers la recherce d'Itinéraire</h3>
  <button (click)="redirectToItineraire()" class="bretour">Itinéraire</button>
</div>


<div class="retour">
  <h3>Retour à la page de toutes les cartes</h3>
  <button (click)="redirectToToutesLesCartes()" class="bretour">Retour</button>
</div>



</body>
