<!DOCTYPE html>
<html>
    <head>
     
    </head>

    <body>
        <div class="card">
            <h2>Réservation via Google Calendar</h2>
            <form [formGroup]="appointmentForm" (ngSubmit)="scheduleMeeting()">
              <div class="form-group">
                <label for="appointmentTime">Date et heure sélectionnées pour l'événement : </label>
                <input type="datetime-local" id="appointmentTime" formControlName="appointmentTime"/>
              </div>
          
              <div class="form-group">
                <label for="email">Personnes que vous souhaitez inviter (adresses e-mail) : </label>
                <input type="email" id="email" class="form-control" formControlName="email"/>
              </div>
              <br/>
              <button type="submit" id="schedule-button">Envoyer l'invitation</button>
            </form>
          </div>

          <div class="retour">
            <h3>Retour à la page de Réservation</h3>
            <button (click)="redirectToReserveResto()" class="bretour">Retour</button>
          </div>
    </body>
</html>



