.reservation-container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Ajoutez cette ligne pour centrer verticalement */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 20px;
}

h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #2c3e50;
}

input {
  width: 30%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #2ecc71;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

button:hover {
  background-color: #27ae60;
}

.retour {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 30%;
}

.bretour {
  width: 25%;
  background-color: #3498db;
  align-self: flex-start;
}

.princ{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#selectedDayButtons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

#selectedDayButtons button {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-right: 15px;
}

#selectedDayButtons button:last-child {
  margin-right: 0;
}


#selectedDayDisplay {
  display: inline-block;
  padding: 10px;
  background-color: #ecf0f1;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  font-size: 18px;
  color: #2c3e50;
  margin-top: 10px;
}

.reservation-container {
  width: 20%;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  top: 0px;
}

.calendrier {
  position: absolute;
  top: 0%;
  right: 0px;
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 15px;
}


