<div>
  <h1>Page du vote</h1>
  <div class="strawpoll-embed" id="strawpoll_3RnYl28KJye" style="height: 700px; max-width: 640px; width: 100%; margin: 0 auto; display: flex; flex-direction: column;"><iframe title="StrawPoll Embed" id="strawpoll_iframe_3RnYl28KJye" src="https://strawpoll.com/embed/3RnYl28KJye" style="position: static; visibility: visible; display: block; width: 100%; flex-grow: 1;" frameborder="0" allowfullscreen allowtransparency>Loading...</iframe><script async src="https://cdn.strawpoll.com/dist/widgets.js" charset="utf-8"></script></div>
</div>



<div>
  <h3>Retour à la page rejoindre un événement</h3>
  <button (click)="redirectToEventJoinPage()">Retour</button>

</div>

