
<div>
  <h1>Discussion du Salon de l'evenement n°{{ EventId }}</h1>

  <div class="info-box">

    <label for="pseudonyme">Pseudonyme:</label>
    <input type="text" id="pseudonyme" [(ngModel)]="pseudonyme" readonly>
  </div>

  <div class="info-box">
    <label for="EventId">ID de l'événement:</label>
    <input type="text" id="EventId" [(ngModel)]="EventId" readonly>
  </div>



  <div *ngIf="salons.length > 0" class="message-section">
    <h3>Anciens messages de la discussion</h3>
    <div *ngFor="let salon of salons">
      <ng-container *ngIf="salon.EventId === EventId ">
        <p *ngFor="let message of salon.messages">
          <strong>{{ message.split(':')[0] }}:</strong> {{ message.split(':')[1] }}<br>
        </p>
      </ng-container>
    </div>
  </div>
<h3>Nouveaux messages :</h3>
<div *ngFor="let message of messagesAffiches" class="message-section">
  <p class="test">{{ message }}</p>
</div>

<div>
  <label for="message">Message:</label>
  <textarea id="message" [(ngModel)]="message"></textarea>
</div>

<button (click)="ecrireMessageSalon()">Envoyer Message</button>


  <div>
    <h3>Retour à la page rejoindre un événement</h3>
    <button (click)="redirectToEventJoinPage()">Retour</button>
  </div>

</div>

