<h1>Page de création d'evenement</h1>



<!-- creat-event.component.html -->
<div>
    <form (ngSubmit)="createEvent()">
      <div>
        <label for="userName">Votre nom:*</label>
        <input type="text" id="userName" [(ngModel)]="eventData.userName" name="userName" required>
      </div>
      <div>
        <label for="eventName">Nom de l'événement:*</label>
        <input type="text" id="eventName" [(ngModel)]="eventData.eventName" name="eventName" required>
      </div>
      
      <div>
        <label for="description">Description:*</label>
        <textarea id="description" [(ngModel)]="eventData.description" name="description" required></textarea>
      </div>
      <div>

        <div>
          <label for="numeroMax">Numéro maximum de participants :</label>
          <input type="number" id="numeroMax" name="numeroMax" [(ngModel)]="eventData.numeroMax">
        </div>  
      

        <div>
          <label for="numeroEvent">Numéro d'événement</label>
          <input type="number" id="numeroEvent" name="numeroEvent" [(ngModel)]="eventData.numeroEvent" min="1000" max="9999" readonly>
        </div>        
        <button type="button" (click)="generateEventCode()">Générer un numéro d'événement</button>

      

      
</div>
      <!-- Bouton de création d'événement conditionnel -->
      <button type="submit" *ngIf="eventData.userName && eventData.eventName && eventData.description && eventData.numeroEvent">Create Event</button>
      
      <!-- Message d'erreur si le formulaire n'est pas valide -->
      <p *ngIf="!(eventData.userName && eventData.eventName && eventData.description && eventData.numeroEvent)">Saisir les informations marqué * pour pouvoir créer un lien d'invitation</p>
    </form>
  </div>

<div>
    <h3>Retour à la page d'acceuil evenement</h3>
    <button (click)="redirectToEventPage()">Retour</button>
</div>
  
  
  